<div>
    <br />
    <h3>@ViewBag.Title</h3>
    <button type="button" class="btn btn-primary pull-right" id="btnPalindrome">
        <span class="glyphicon glyphicon-ok" style="color:white"> Analizar </span>
    </button>
    @Html.TextArea("Text", new { @class = "form-control col-lg-12", @placeholder = @ViewBag.Example, @style = "margin: 0px 863px 0px 0px; width: 276px; height: 34px; resize: none;", @id="txtPalindrome" }) 
</div>

<br />
<div id="response"></div>

<div class="jumbotron" id="jbmPalindromes">
</div>

<script type="text/javascript">
    debugger;
    $(document).ready(function () {

        var i = 0;
        var myInterval;
        $("#btnPalindrome").click(function (e) {
            e.preventDefault();
            debugger;
            if($('#txtPalindrome').val())
            {
                clear();
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action(@ViewBag.Validate, "Automatas")",
                    data: { input: $('#txtPalindrome').val() },
                    success: function (data) {
                        //Alert if the result was true or false
                        if (data.success) {
                            $('#response').addClass("alert alert-success");
                            $('#response').append('<strong>Success!</strong> @ViewBag.SuccessMessage');
                        }
                        else
                        {
                            $('#response').addClass("alert alert-danger");
                            $('#response').append('<strong>Fail!</strong> @ViewBag.FailMessage');
                        }

                        //return the automata process
                        debugger;
                        DibujarTabla(data);
                  
                }
            });}
        });

        function clear()
        {
            $("#response").removeClass("alert alert-success");
            $("#response").removeClass("alert alert-danger");
            $("#response").empty();
            $("table[name^=tableResult]").remove();
        }

        function DibujarTabla(data)
        {
            myInterval = window.setInterval(function () {
                debugger;
                if (i < data.result.length) {
                    //Borrar el contenido actual
                    $("table[name^=tableResult]").remove();

                    //Dibujar el nuevo contenido
                    var chars = data.result[i].inputChanged.split('');

                    var content = '<table width="400" align="center" name="tableResult"> <tr>';
                    debugger;
                    for (k = 0; k < chars.length; k++) {
                        if (k == data.result[i].indexHead)
                        { content += '<td bgcolor = "#58CCB6" align="center">' + '' + chars[k] + '' + '</td>'; }
                        else
                        { content += '<td align="center">' + '' + chars[k] + '' + '</td>'; }
                    }
                    content += "</tr></table>";


                    $('#jbmPalindromes').append(content);
                    i++;
                } else
                {
                    clearInterval(myInterval);
                    i = 0;
                }


            },500);
        }
        });
</script>